@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
  margin: 0;
  padding: 0;
  background: url('../img/bkg-image.jpg') no-repeat grey;
  background-attachment: fixed;
  background-position: bottom left;
}
.title {
	text-align: center;
	margin: 20px auto;
	font-family: 'Dosis', sans-serif;
}
.divContentSize {
	width: 250px;
	height: 250px;
	margin: 20px 50px;
	border-radius: 15px;
	border-style: outset;
}
.wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 auto;
}
.myWork {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.about {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.logo-htmlCss {
	background: url('../img/logo-htmlCss.jpg') no-repeat lightgrey;
	background-size: contain;
	background-position: center;
}
.logo-js {
	background: url('../img/logo-js.png') no-repeat lightgrey;
	background-size: contain;
	background-position: center;
}
.logo-paper {
	background: url('../img/logo-paper.png') no-repeat lightgrey;
	background-size: contain;
	background-position: center;
}
.logo-toDo {
	background: url('../img/logo-toDo.png') no-repeat lightgrey;
	background-size: contain;
	background-position: center;
}
.fas {
	margin: 0 auto;
	color: orange;
	font-size: 8rem;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 671px) { 
.divContentSize {
	width: 150px;
	height: 150px;
	margin: 30px auto;
	}
.myWork, .about  {
		display: block;	
	}
.myWork div:last-child {
		margin-bottom: 0;
	}
}